.archive
	position: relative
	text-align: center
	background: #202020 
	padding: 43px 0 38px 0 
	.archive__title
		font-weight: normal
		font-size: 30px 
		+rob-l
		color: #fff 
		line-height: 1 
	.archive__more
		position: absolute
		left: 50%
		bottom: -15px
		margin-left: -40px  
		background: #202020 
		text-decoration: none
		color: #fff 
		padding: 0 12px 
		height: 30px 
		line-height: 30px
		display: inline-block
		font-size: 13px 
		border-radius: 5px
		i
			margin-left: 4px
			vertical-align: middle
			transition: all .2s linear
			font-size: 10px
			position: relative
			top: -1px
	.archive__table
		width: 200px 
		margin: 0 auto 
		table
			border: 1px solid #fff
			color: #fff 
			td
				position: relative
		div
			position: absolute
			left: -100px 
			top: 0
			width: 100px  
			height: 100px
			background: red  
