@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { box-sizing: border-box; }

* { box-sizing: border-box; }
*:before, *:after { box-sizing: border-box; }

@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"], .slider .slick-prev:before, .slider .slick-next:before, .get__arr:before, .get-ico:before, .arr-down:before, .process .process__next:before, .reviews .reviews__next:before, .reviews .reviews__prev:before, .footer__bottom .footer__location:before { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-arr-down-long:before { content: ""; }

.icon-arr-down:before { content: ""; }

.icon-arr-right-long:before { content: ""; }

.icon-be:before { content: ""; }

.icon-dr:before { content: ""; }

.icon-fb:before { content: ""; }

.icon-in:before { content: ""; }

.icon-lines:before { content: ""; }

.icon-location:before { content: ""; }

.icon-logo:before { content: ""; }

.icon-next:before { content: ""; }

.icon-prev:before { content: ""; }

.icon-tw:before { content: ""; }

.icon-grid:before { content: ""; }

.icon-eye:before { content: ""; }

.icon-cv:before { content: ""; }

.icon-quote:before { content: ""; }

.icon-research:before { content: ""; }

.icon-design:before { content: ""; }

.icon-art:before { content: ""; }

* { -webkit-font-smoothing: antialiased; }

body { min-width: 320px; font-size: 12px; line-height: 1.4; transition-delay: 0.5s; font-family: "Roboto", Arial, sans-serif; font-weight: 400; }
body.menu-opened { overflow: hidden; background-color: #212121; transition: background-color 0.1s; }

::-moz-selection { background: #4c139f; color: #fff; }

::selection { background: #4c139f; color: #fff; }

.out { -webkit-perspective: 1000px; perspective: 1000px; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; transition: 0.3s ease; }
.out.menu-opened .transform-bl { -webkit-transform: rotateY(-35deg) translateX(-210px); transform: rotateY(-35deg) translateX(-210px); }
@media only screen and (max-width: 520px) { .out.menu-opened .transform-bl { -webkit-transform: rotateY(-45deg) translateX(-210px); transform: rotateY(-45deg) translateX(-210px); } }
@media only screen and (max-width: 480px) { .out.menu-opened .transform-bl { -webkit-transform: rotateY(-55deg) translateX(-210px); transform: rotateY(-55deg) translateX(-210px); } }
@media only screen and (max-width: 320px) { .out.menu-opened .transform-bl { -webkit-transform: rotateY(-55deg) translateX(-297px); transform: rotateY(-55deg) translateX(-297px); } }

.transform-bl { transition: 0.4s ease; }

a { text-decoration: none; }

.overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(33, 33, 33, 0.8); opacity: 0; visibility: hidden; transition: 0.25s ease; }
.overlay.is-visible { opacity: 1; visibility: visible; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { height: 50px; line-height: 50px; }

.slick-prev { left: 0; }
.slick-prev:before { content: "←"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-next { right: 0; }
.slick-next:before { content: "→"; display: inline-block; vertical-align: middle; font-size: 61px; color: #fff; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.l-center { max-width: 1300px; margin: 0 auto; padding: 0 20px; *zoom: 1; }
.l-center:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .l-center { max-width: 980px; } }

.header { position: relative; background-color: rgba(0, 0, 0, 0.5); }
.header__top { position: absolute; top: 0; left: 0; right: 0; padding-top: 50px; z-index: 2; *zoom: 1; }
.header__top:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .header__top { padding-top: 40px; } }
.header__center { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; font-size: 0; }
.header__center:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.header__bl { position: relative; display: inline-block; width: 100%; max-width: 757px; vertical-align: middle; color: #fff; z-index: 2; background-image: url("../img/name.png"); background-size: contain; background-position: center center; background-repeat: no-repeat; }
@media only screen and (max-width: 950px) { .header__bl { max-width: 524px; } }
@media only screen and (max-width: 640px) { .header__bl { max-width: 295px; } }
.header__ttl, .header__work { position: relative; z-index: 1; }
.header__ttl { margin: 50px 0; font-size: 70px; line-height: 0.87; font-family: "Roboto", Arial, sans-serif; font-weight: 300; }
@media only screen and (max-width: 950px) { .header__ttl { font-size: 48px; } }
@media only screen and (max-width: 640px) { .header__ttl { font-size: 30px; margin: 95px 0 42px 0; } }
.header__work { position: relative; padding-top: 40px; font-size: 18px; *zoom: 1; }
.header__work:after { content: " "; display: table; clear: both; }
.header__work:before { content: ""; position: absolute; top: 0; left: 50%; margin-left: -15px; width: 30px; height: 1px; background: #fff; }
.header__work-bl { width: 33.33%; float: left; line-height: 20px; font-size: 18px; }
@media only screen and (max-width: 950px) { .header__work { font-size: 15px; } }
@media only screen and (max-width: 640px) { .header__work__work { padding-top: 30px; }
  .header__work-bl { width: 100%; float: none; }
  .header__work-bl:first-child, .header__work-bl:last-child { display: none; } }

.slider__bl { display: none; height: 810px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.slider__bl:first-child { display: block; }
.slider .slick-prev, .slider .slick-next { margin-top: -7px; z-index: 10; }
.slider .slick-prev { left: 20px; transition: left 0.25s; color: #fff; font: 0/0 a; text-shadow: none; color: transparent; }
.slider .slick-prev:before { content: ""; font-size: 10px; }
.slider .slick-prev:hover { left: 15px; }
.slider .slick-next { right: 20px; transition: right 0.25s; }
.slider .slick-next:before { content: ""; font-size: 10px; }
.slider .slick-next:hover { right: 15px; }
.slider .slick-slide { position: relative; }
.slider .slick-slide:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }
@media only screen and (min-width: 1500px) { .slider__bl { background-position-y: 20%; } }
@media only screen and (max-width: 1400px) { .slider__bl { height: 680px; } }
@media only screen and (max-width: 1300px) { .slider__bl { height: 645px; } }
@media only screen and (max-width: 768px) { .slider__bl { height: 470px; } }
@media only screen and (max-width: 640px) { .slider__bl { height: 420px; }
  .slider .slick-prev, .slider .slick-next { display: none !important; } }

.logo { font-size: 0; float: left; }
.logo__img, .logo__name { display: inline-block; vertical-align: top; }
.logo__img { margin-right: 20px; }
.logo__name { font-size: 15px; color: #fff; line-height: 1; opacity: 0.7; }
@media only screen and (max-width: 640px) { .logo__name { display: none; } }

.get { background: #212121; color: #fff; }
.get__in { font-size: 0; text-align: justify; }
.get__in:after { content: ""; display: inline-block; width: 100%; }
.get__note { display: inline-block; max-width: 260px; margin-right: 20px; text-align: left; font-family: "Times New Roman"; font-size: 20px; font-style: italic; color: #727272; line-height: 0.9; vertical-align: middle; }
.get__note.is-mobile { display: none; }
.get__list { display: inline-block; font-size: 0; vertical-align: middle; }
.get__list li { display: inline-block; padding: 25px 20px; font-size: 15px; border-right: 1px solid #383838; vertical-align: middle; }
.get__list li:last-child { border-right: none; }
.get__list li span { margin-right: 10px; font-family: "Times New Roman"; font-size: 15px; font-style: italic; color: #727272; }
.get__link { color: #FFF; }
.get__link:hover { text-decoration: underline; }
.get__quote { display: inline-block; font-size: 0; vertical-align: middle; }
.get__or { display: inline-block; margin-right: 70px; font-family: "Times New Roman"; font-size: 20px; font-style: italic; color: #727272; vertical-align: middle; line-height: 1; }
.get__arr { display: inline-block; vertical-align: middle; color: #fff; font-size: 12px; }
.get__arr:before { content: ""; }
@media only screen and (max-width: 1280px) { .get__list li { border-right: none; }
  .get__list li:first-child { border-right: 1px solid #383838; }
  .get__list li:last-child { display: none; }
  .get__or { margin-right: 25px; } }
@media only screen and (max-width: 1000px) { .get__list li { display: none; }
  .get__list li:first-child { display: block; border-right: none; } }
@media only screen and (max-width: 765px) { .get__note { width: 30%; margin-right: 0; } }
@media only screen and (max-width: 700px) { .get__in { padding: 15.5px 0; }
  .get__note { width: auto; }
  .get__list { display: none; }
  .get__or { display: none; } }
@media only screen and (max-width: 520px) { .get__in { padding: 20px 0; text-align: left; *zoom: 1; }
  .get__in:after { content: " "; display: table; clear: both; }
  .get__note { display: none; }
  .get__note.is-mobile { display: inline-block; }
  .get__arr { float: right; }
  .get__arr:before { content: ""; font-size: 18px; }
  .get .btn_quote { display: none; } }
.get.get_footer { background: #313131; }
@media only screen and (max-width: 520px) { .get.get_footer .get__note { display: block; text-align: center; width: auto; max-width: none; margin-bottom: 15px; }
  .get.get_footer .get__note.is-mobile { display: none; }
  .get.get_footer .get__arr { display: none; }
  .get.get_footer .get__quote { display: block; text-align: center; }
  .get.get_footer .btn_quote { display: block; width: auto; text-align: center; position: relative; }
  .get.get_footer .btn_quote i { position: absolute; left: 15px; top: 12px; } }

.get-ico { margin-right: 15px; width: 18px; height: 11px; position: relative; display: inline-block; }
.get-ico:before { content: ""; font-size: 12px; position: absolute; top: -1px; left: 0; }

.btn_quote { position: relative; display: inline-block; padding: 5px 10px; font-size: 18px; border-radius: 5px; border: 2px solid #646464; color: #FFF; vertical-align: middle; }
.btn_quote:hover .btn__left, .btn_quote:hover .btn__right { opacity: 1; }
.btn_quote:hover .btn__top:before, .btn_quote:hover .btn__top:after, .btn_quote:hover .btn__bottom:before, .btn_quote:hover .btn__bottom:after { width: 100%; }
.btn_quote .btn__top, .btn_quote .btn__bottom { position: absolute; top: -2px; bottom: -2px; left: 1px; right: 1px; border-radius: 5px; }
.btn_quote .btn__top:before, .btn_quote .btn__top:after, .btn_quote .btn__bottom:before, .btn_quote .btn__bottom:after { content: ""; position: absolute; width: 0; height: 2px; background-image: linear-gradient(to right, #c1010c, #001eff); transition: width 0.2s; }
.btn_quote .btn__top:before, .btn_quote .btn__bottom:before { top: 0; left: 0; }
.btn_quote .btn__top:after, .btn_quote .btn__bottom:after { top: 0; right: 0; }
.btn_quote .btn__bottom:before { top: initial; bottom: 0; left: 0; }
.btn_quote .btn__bottom:after { top: initial; bottom: 0; right: 0; }
.btn_quote .btn__left, .btn_quote .btn__right { position: absolute; top: -2px; bottom: -2px; width: 5px; overflow: hidden; opacity: 0; transition: opacity 0.4s; }
.btn_quote .btn__left:before, .btn_quote .btn__right:before { content: ""; position: absolute; top: 0; bottom: 0; width: 20px; border: 2px solid #c1010c; border-radius: 5px; }
.btn_quote .btn__left { left: -2px; }
.btn_quote .btn__left:before { left: 0; }
.btn_quote .btn__right { right: -2px; }
.btn_quote .btn__right:before { right: 0; border-color: #001eff; }

.menu { float: right; }
.menu__li { float: left; margin: 0 20px; }
.menu__li:last-child { margin-right: 0; }
.menu__link { position: relative; color: #fff; padding: 10px 0px; font-size: 18px; }
.menu__link:after { position: absolute; content: ""; left: -5px; right: -5px; top: 0; height: 100%; }
.menu__link:before { content: ""; position: absolute; bottom: 10px; left: 0px; width: 0; height: 1px; background: #FFF; transition: 0.3s ease; }
.menu__link:hover:before { width: 100%; }
@media only screen and (max-width: 640px) { .menu { display: none; } }

.mobile-link { display: none; float: right; color: #fff; font-size: 18px; }
@media only screen and (max-width: 640px) { .mobile-link { display: block; } }

.mobile-menu { position: fixed; top: 0; right: -230px; bottom: 0; width: 230px; padding-top: 37px; z-index: 100; background: #212121 url("../img/name-mobile.png") 70% 50% no-repeat; transition: right 0.4s ease; }
.mobile-menu .logo, .mobile-menu .menu, .mobile-menu .menu__li { float: none; display: block; }
.mobile-menu .logo__img, .mobile-menu .logo__name { display: block; }
.mobile-menu .logo__img { text-align: center; margin: 0 0 11px 0; }
.mobile-menu .logo__name { text-align: center; }
.mobile-menu .menu { margin: 54px 0; text-align: center; }
.mobile-menu .menu__li { margin: 0 0 26px 0; }
.mobile-menu .menu__link { padding: 5px 0; }
.mobile-menu .get { text-align: center; background: none; }
.mobile-menu .get__note { display: block; max-width: 200px; margin: 0 auto 20px; padding-top: 23px; text-align: center; border-top: 1px solid #383838; }
.mobile-menu .btn_quote { display: inline-block; }
.mobile-menu.is-active { right: 0; }
@media screen and (orientation: landscape) { .mobile-menu .menu { margin: 26px 0 37px; }
  .mobile-menu .menu__li { margin: 0 0 6px 0; }
  .mobile-menu .get__note { display: none; } }

.arr-down { margin-left: 10px; }
.arr-down:before { content: ""; font-size: 10px; }

.close-ico { position: absolute; top: 28px; right: 18px; width: 20px; height: 16px; cursor: pointer; }
.close-ico.is-active:before, .close-ico.is-active:after { -webkit-transform-origin: left 50%; -ms-transform-origin: left 50%; transform-origin: left 50%; }
.close-ico.is-active:before { -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.close-ico.is-active:after { -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }
.close-ico.is-active span { visibility: hidden; opacity: 0; }
.close-ico:before, .close-ico:after { content: ""; position: absolute; left: 0; right: 0; background: #fff; height: 2px; transition: 0.3s ease 0.4s; }
.close-ico:before { top: 0; }
.close-ico:after { bottom: 0; }
.close-ico span { position: absolute; top: 50%; left: 0; right: 0; height: 2px; margin-top: -1px; background: #FFF; visibility: visible; opacity: 1; transition: 0.3s ease 0.4s; }

.works { max-width: 1260px; margin: 34px auto 0 auto; position: relative; padding-bottom: 40px; font-size: 0; overflow: hidden; }
@media only screen and (max-width: 1280px) { .works { max-width: 940px; } }
@media only screen and (max-width: 980px) { .works { margin-left: 20px; margin-right: 20px; } }
.works .works__title { text-align: center; font-weight: normal; font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 30px; color: #000000; margin-bottom: 37px; line-height: 1; }
.works .works__more { position: absolute; right: 0; top: 10px; font-size: 13px; text-decoration: none; color: #202020; }
@media only screen and (max-width: 520px) { .works .works__more span { display: none; } }
.works .works__more i { display: inline-block; vertical-align: middle; color: #cccccc; margin-left: 16px; position: relative; top: -2px; }
.works .works__more:hover span { text-decoration: underline; }
.works .works__more:hover i { color: #000; }
.works .works__viewmore { border-bottom: 1px solid #E5E5E5; display: block; text-align: center; color: #000000; text-decoration: none; font-size: 13px; }
.works .works__viewmore b { font-weight: normal; }
.works .works__viewmore span { display: inline-block; background: #fff; position: relative; top: 3px; padding: 0 12px; }
.works .works__viewmore span:before { content: " "; position: absolute; bottom: -7px; border: 1px solid #E5E5E5; border-top: #000; height: 10px; left: 0; right: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.works .works__viewmore span i { color: #909090; margin-left: 4px; vertical-align: middle; transition: all 0.2s linear; font-size: 10px; position: relative; top: -1px; }
.works .works__viewmore:hover b { text-decoration: underline; }
.works .works__wrap { margin-right: -8px; }
@media only screen and (max-width: 980px) { .works .works__wrap { margin-right: -5%; } }

.work { display: inline-block; margin-right: 8px; width: 309px; margin-bottom: 45px; vertical-align: top; position: relative; }
@media only screen and (max-width: 1280px) { .work { width: 308px; } }
@media only screen and (max-width: 980px) { .work { width: 31%; margin-right: 1%; } }
@media only screen and (max-width: 630px) { .work { width: 47%; margin-right: 2%; margin-bottom: 28px; } }
.work .work__image { background: #f6f6f6; margin-bottom: 24px; position: relative; height: 0; padding-bottom: 100%; }
.work .work__image .work__imagewrap { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-align: center; font-size: 0; }
.work .work__image .work__imagewrap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.work .work__image img { display: inline-block; vertical-align: middle; max-width: 80%; }
.work .work__title { text-align: center; font-weight: normal; margin-bottom: 5px; font-size: 20px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; line-height: 1; color: #000; }
@media only screen and (max-width: 630px) { .work .work__title { font-family: "Roboto", Arial, sans-serif; font-weight: 400; font-size: 15px; line-height: 1.1; color: #000000; } }
.work .work__tags { font-size: 12px; color: #aaaaaa; text-align: center; }
.work .work__flipper { -webkit-perspective: 1000; perspective: 1000; }
.work .work__image { transition: 0.5s; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }
.work .work__front, .work .work__back { -webkit-backface-visibility: hidden; backface-visibility: hidden; position: absolute; top: 0; left: 0; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; }
.work .work__front { z-index: 2; -webkit-transform: rotateY(0deg); transform: rotateY(0deg); }
.work .work__back { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); background: #282828; position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-size: 15px; text-align: center; color: #fff; line-height: 20px; padding-top: 100px; z-index: 1; }
@media only screen and (max-width: 800px) { .work .work__back { padding-top: 50px; } }
@media only screen and (max-width: 500px) { .work .work__back { padding-top: 25px; } }
.work .work__back i { font-size: 20px; }
.work .work__back p { padding: 0 15%; margin-top: 20px; }
@media only screen and (max-width: 500px) { .work .work__back p { font-size: 11px; } }
.work:before { content: " "; position: absolute; top: -10px; left: 10px; right: 10px; bottom: -10px; border: 3px solid #E5E5E5; transition: all 0.5s linear; opacity: 0; }
.work:hover:before { opacity: 1; }
.work:hover .work__title { text-decoration: underline; }
.work:hover .work__image { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }

.archive { position: relative; text-align: center; background: #202020; padding: 43px 0 38px 0; z-index: 10; }
.archive .archive__title { font-weight: normal; font-size: 30px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; color: #fff; line-height: 1; margin-bottom: 34px; }
.archive .archive__more { position: absolute; left: 50%; bottom: -15px; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); background: #202020; text-decoration: none; color: #fff; padding: 0 12px; height: 30px; line-height: 30px; display: inline-block; font-size: 13px; border-radius: 5px; }
.archive .archive__more i { margin-left: 4px; vertical-align: middle; transition: all 0.2s linear; font-size: 10px; position: relative; top: -1px; }
.archive .archive__tablewrap { overflow: hidden; }
.archive .archive__table { width: 100%; margin: 0 auto; max-width: 1260px; }
@media only screen and (max-width: 1280px) { .archive .archive__table { max-width: 940px; } }
@media only screen and (max-width: 980px) { .archive .archive__table { margin-left: 20px; margin-right: 20px; } }
.archive .archive__table table { color: #fff; border-spacing: 0; border-collapse: collapse; }
.archive .archive__table table thead th { text-align: left; font-size: 18px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; line-height: 1; color: #fff !important; padding: 12px 0; background: #2a2a2a; }
.archive .archive__table table thead th:first-child { position: relative; text-align: left; width: 30px; }
.archive .archive__table table thead th:first-child div { position: absolute; left: -1000px; width: 1000px; top: 0; height: 100%; background: #2a2a2a; }
.archive .archive__table table thead th.archive__worktitle { position: relative; }
@media only screen and (max-width: 600px) { .archive .archive__table table thead th.archive__worktitle div { position: absolute; left: -1000px; width: 1000px; top: 0; height: 100%; background: #2a2a2a; border-bottom: none; } }
.archive .archive__table table thead th:last-child { position: relative; }
.archive .archive__table table thead th:last-child div { position: absolute; left: 100%; width: 1000px; top: 0; height: 100%; background: #2a2a2a; }
.archive .archive__table table td { position: relative; padding: 12px 0; text-align: left; font-size: 15px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; color: #aaaaaa; border-bottom: 1px solid #383838; }
.archive .archive__table table td.archive__worktitle { font-size: 18px; }
.archive .archive__table table td a { text-decoration: none; color: #aaaaaa; }
.archive .archive__table table td:first-child { text-align: left; width: 30px; padding-right: 10px; }
.archive .archive__table table td:first-child div { position: absolute; left: -1000px; width: 1000px; top: 0; height: 100%; border-bottom: 1px solid #383838; box-sizing: content-box; }
.archive .archive__table table td:last-child div { position: absolute; left: 100%; width: 1000px; top: 0; height: 100%; border-bottom: 1px solid #383838; box-sizing: content-box; }
.archive .archive__table table thead tr, .archive .archive__table table thead th { background: #2a2a2a; }
.archive .archive__table table tbody tr { background-attachment: fixed; }
.archive .archive__table table tbody tr:hover, .archive .archive__table table tbody tr.is-active { background-image: linear-gradient(to right, #c30916, #0f2ff5); }
.archive .archive__table table tbody tr:hover td, .archive .archive__table table tbody tr.is-active td { color: #fff; }
.archive .archive__table table tbody tr:hover td a, .archive .archive__table table tbody tr.is-active td a { color: #fff; }
.archive .archive__table table tbody tr:hover td:first-child div, .archive .archive__table table tbody tr.is-active td:first-child div { background-color: #c30916; background-image: linear-gradient(to right, #c30916, #0f2ff5); background-attachment: fixed; }
@media only screen and (max-width: 600px) { .archive .archive__table table tbody tr:hover td.archive__worktitle div, .archive .archive__table table tbody tr.is-active td.archive__worktitle div { background-color: #c30916; background-image: linear-gradient(to right, #c30916, #0f2ff5); background-attachment: fixed; } }
.archive .archive__table table tbody tr:hover td:last-child div, .archive .archive__table table tbody tr.is-active td:last-child div { background-color: #c30916; background-image: linear-gradient(to right, #c30916, #0f2ff5); background-attachment: fixed; }
.archive .archive__table table tbody td:first-child { text-align: left; }
.archive .archive__table table .archive__worktitle { padding-left: 15px; font-size: 18; font-weight: 300; color: #aaaaaa; }
@media only screen and (max-width: 600px) { .archive .archive__table table .archive__worktitle div { position: absolute; left: -1000px; width: 1000px; top: 0; height: 100%; border-bottom: 1px solid #383838; box-sizing: content-box; } }
.archive .archive__table table .archive__workagency { padding-left: 15px; font-size: 15px; font-weight: 400; }
@media only screen and (max-width: 960px) { .archive .archive__table table .archive__workagency { display: none; } }
.archive .archive__table table .archive__type { padding-left: 15px; font-size: 15px; font-weight: 400; }
.archive .archive__table table .archive__date { padding-left: 15px; font-size: 15px; font-weight: 400; }
.archive .archive__table table tbody td { cursor: pointer; }
@media only screen and (max-width: 600px) { .archive .archive__table table td:first-child, .archive .archive__table table th:first-child { display: none; } }
@media only screen and (max-width: 600px) { .archive .archive__table table .archive__type, .archive .archive__table table .archive__date { display: none; } }

.about { background: #f2f4f4; position: relative; overflow: hidden; }
.about .about__in { margin: 0 auto; max-width: 1260px; position: relative; padding: 60px 0 130px 0; *zoom: 1; }
.about .about__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .about .about__in { max-width: 940px; padding: 60px 0 62px 0; } }
@media only screen and (max-width: 1024px) { .about .about__in { padding-bottom: 144px; } }
@media only screen and (max-width: 980px) { .about .about__in { margin-left: 20px; margin-right: 20px; } }
@media only screen and (max-width: 710px) { .about .about__in { padding-top: 0; padding-bottom: 0; } }
.about .about__bg { position: absolute; right: 0; top: 0; width: 540px; height: 349px; background: url(../img/lamp.png) no-repeat 0 0; z-index: 4; }
@media only screen and (max-width: 1280px) { .about .about__bg { left: 60%; right: auto; margin-left: -80px; } }
@media only screen and (max-width: 1024px) { .about .about__bg { left: 60%; right: 0; margin: 0; margin-left: -116px; width: 100%; height: 261.19403px; background-size: contain; background-position: 0 0; } }
@media only screen and (max-width: 710px) { .about .about__bg { position: static; margin: 0 -20px; background-position: 50% 0; height: 210px; width: auto; background-size: 385.71429px 250.0px; background-position: 50% 0; margin-bottom: -50px; } }
.about .about__bottombg { background: url(../img/about__bottombg.jpg) no-repeat 0 0; width: 983px; height: 650px; position: absolute; bottom: 0; right: -290px; z-index: 3; }
@media only screen and (max-width: 1280px) { .about .about__bottombg { left: 60%; right: auto; margin-left: -230px; background-position: 0 100%; } }
@media only screen and (max-width: 1024px) { .about .about__bottombg { width: 733.58209px; height: 485.07463px; background-size: contain; background-position: 50% 100%; } }
@media only screen and (max-width: 710px) { .about .about__bottombg { position: static; margin: 0 -20px; background-position: 50% 0; height: 210px; background-size: auto 325px; background-position: 0% 100%; } }
.about .about__sidetitle { position: absolute; top: 60px; right: 100%; left: auto; font-family: "Roboto", Arial, sans-serif; font-weight: 300; color: #212121; font-size: 25px; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; line-height: 1; height: 25px; white-space: nowrap; margin-right: -5px; }
@media only screen and (max-width: 1345px) { .about .about__sidetitle { display: none; } }
@media only screen and (max-width: 1280px) { .about .about__sidetitle { display: block; } }
@media only screen and (max-width: 1040px) { .about .about__sidetitle { display: none; } }
.about__title { line-height: 50px; font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 60px; color: #000000; margin-bottom: 27px; position: relative; z-index: 40; }
.about__col1, .about__col2 { float: left; font-size: 15px; line-height: 25px; color: #575757; width: 30%; margin-right: 3%; position: relative; z-index: 20; }
@media only screen and (max-width: 1024px) { .about__col1, .about__col2 { width: 45%; margin-right: 5%; } }
@media only screen and (max-width: 710px) { .about__col1, .about__col2 { width: auto; margin: 0; } }
.about__col1 p, .about__col2 p { margin-bottom: 32px; }
.about__links { clear: both; position: relative; z-index: 50; font-size: 15px; }
.about__links a { text-decoration: none; color: #000000; margin-right: 40px; }
.about__links a span { vertical-align: text; }
.about__links a:hover span { text-decoration: underline; }
.about__links a i { margin-right: 10px; vertical-align: text; display: inline-block; }
.about__links a .icon-quote { font-size: 8px; position: relative; top: -1px; }

.whatwedo { background: #fff; position: relative; overflow: hidden; }
.whatwedo .whatwedo__in { margin: 0 auto; max-width: 1260px; position: relative; padding: 68px 0 62px 0; font-size: 0; *zoom: 1; }
.whatwedo .whatwedo__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .whatwedo .whatwedo__in { max-width: 940px; } }
@media only screen and (max-width: 980px) { .whatwedo .whatwedo__in { margin-left: 20px; margin-right: 20px; } }

.what { display: inline-block; font-size: 15px; line-height: 25px; color: #575757; padding-right: 30px; box-sizing: border-box; width: 33%; vertical-align: top; }
@media only screen and (max-width: 700px) { .what { display: block; width: auto; padding-right: 0; margin-bottom: 30px; } }
.what .what__title { font-size: 20px; line-height: 20px; color: #000000; font-weight: normal; margin-bottom: 18px; }
.what .what__icon { min-height: 65px; color: #aaaaaa; font-size: 37px; }
@media only screen and (max-width: 700px) { .what .what__icon { min-height: 50px; } }

.process { background: #fff; position: relative; overflow: hidden; padding-top: 30px; margin-top: -30px; padding-bottom: 64px; }
.process .process__in { margin: 0 auto; max-width: 1260px; position: relative; font-size: 0; *zoom: 1; *zoom: 1; }
.process .process__in:after { content: " "; display: table; clear: both; }
.process .process__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .process .process__in { max-width: 940px; } }
@media only screen and (max-width: 980px) { .process .process__in { margin-left: 20px; margin-right: 20px; } }
.process .process__title { font-size: 40px; font-weight: normal; color: #000000; position: relative; line-height: 1; }
.process .process__title:before { width: 3000px; content: " "; position: absolute; left: -1000px; border-top: 1px solid #E5E5E5; }
.process .process__title span { position: relative; top: -0.5em; background: #fff; padding: 0 20px; left: -20px; }
.process .process__items { text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; -moz-text-align-last: justify; text-align-last: justify; }
.process .process__items:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
@media only screen and (max-width: 700px) { .process .process__items { text-align: left; } }
@media only screen and (max-width: 700px) { .process .process__items:after { display: none; } }
.process .process__items > br { display: none; }
@media only screen and (max-width: 700px) { .process .process__items > br { display: block; } }
.process .process__next { display: inline-block; vertical-align: bottom; position: relative; font-size: 12px; top: -8px; }
@media only screen and (max-width: 880px) { .process .process__next { vertical-align: top; top: 25px; } }
@media only screen and (max-width: 740px) { .process .process__next { display: none; } }
@media only screen and (max-width: 700px) { .process .process__next { display: inline-block; margin-right: 20px; } }
.process .process__next:before { content: ""; display: inline-block; color: #cccccc; }
.process .process__item { display: inline-block; position: relative; padding-top: 40px; min-width: 77px; min-height: 66px; vertical-align: top; }
@media only screen and (max-width: 700px) { .process .process__item { margin-bottom: 30px; margin-right: 20px; } }
.process .process__num { font-size: 70px; color: #f0f0f0; font-family: "Roboto", Arial, sans-serif; font-weight: 300; position: absolute; left: 0; top: 0; line-height: 0.9; }
.process .process__name { font-size: 15px; color: #000000; line-height: 15px; position: relative; z-index: 1; padding-left: 4px; margin-top: 10px; white-space: nowrap; }

.reviews { background: #f2f4f4; position: relative; overflow: hidden; }
.reviews .reviews__in { margin: 0 auto; max-width: 1260px; position: relative; padding: 30px 0 24px 0; *zoom: 1; }
.reviews .reviews__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1280px) { .reviews .reviews__in { max-width: 940px; } }
@media only screen and (max-width: 980px) { .reviews .reviews__in { margin-left: 20px; margin-right: 20px; } }
.reviews .reviews__title { position: absolute; top: 27px; right: 100%; left: auto; font-family: "Roboto", Arial, sans-serif; font-weight: 300; color: #212121; font-size: 25px; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); -webkit-transform-origin: 100% 0; -ms-transform-origin: 100% 0; transform-origin: 100% 0; line-height: 1; height: 25px; margin-right: -5px; }
@media only screen and (max-width: 1345px) { .reviews .reviews__title { display: none; } }
@media only screen and (max-width: 1280px) { .reviews .reviews__title { display: block; } }
@media only screen and (max-width: 1040px) { .reviews .reviews__title { display: none; } }
.reviews .reviews__next, .reviews .reviews__prev { position: absolute; top: 50%; font-size: 10px; cursor: pointer; z-index: 200; color: #c2c3c3; }
@media only screen and (max-width: 580px) { .reviews .reviews__next, .reviews .reviews__prev { display: none; opacity: 0; } }
.reviews .reviews__next:hover, .reviews .reviews__prev:hover { color: #000000; }
.reviews .reviews__next { right: 10px; }
.reviews .reviews__next:before { content: ""; }
.reviews .reviews__prev { left: 10px; }
.reviews .reviews__prev:before { content: ""; }
.reviews .reviews__dots { text-align: center; margin-top: 44px; }
@media only screen and (max-width: 580px) { .reviews .reviews__dots { margin-top: 30px; } }
.reviews .reviews__dots li { display: inline-block; width: 8px; height: 8px; margin: 0 7px; border-radius: 8px; background: #dddfdf; }
.reviews .reviews__dots li button { opacity: 0; }
.reviews .reviews__dots li.slick-active { background: #4b4b4b; }
.reviews .slick-list { margin: 0 -10px; }

.review { display: inline-block; position: relative; vertical-align: top; margin-top: 30px; margin-left: 10px; margin-right: 10px; }
.review .review__photo { position: absolute; left: 20px; top: -30px; width: 60px; height: 60px; border-radius: 60px; z-index: 2; }
.review .review__text { border-radius: 5px; background: #fff; display: block; padding: 40px 20px 14px 20px; margin-bottom: 24px; position: relative; }
.review .review__text:before { bottom: -20px; left: 20px; content: ""; background: url(../img/tri.png) no-repeat 0 0; position: absolute; width: 20px; height: 20px; }
.review .review__text p { color: #000; opacity: 0.6; font-size: 15px; line-height: 25px; }
.review .review__author { display: inline-block; margin-left: 20px; font-size: 18px; color: #222222; line-height: 1; max-width: 140px; padding-right: 20px; box-sizing: border-box; vertical-align: top; }
.review .review__position { display: inline-block; font-size: 13px; line-height: 18px; color: #909090; vertical-align: top; }
.review .review__position strong { font-weight: normal; color: #000000; display: block; }

.footer__bottom { background: #212121; padding: 50px 0 60px 0; *zoom: 1; }
.footer__bottom:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 560px) { .footer__bottom { padding: 25px 0 38px 0; } }
.footer__bottom .footer__copy, .footer__bottom .footer__copyholder { float: left; width: 25%; font-size: 13px; line-height: 18px; opacity: 0.4; color: #fff; padding-top: 8px; }
@media only screen and (max-width: 1280px) { .footer__bottom .footer__copy, .footer__bottom .footer__copyholder { width: 25.53191%; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__copy, .footer__bottom .footer__copyholder { width: 31.50685%; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__copyholder { display: none; } }
.footer__bottom .footer__copy { position: absolute; left: 0; top: 0; }
@media only screen and (max-width: 860px) { .footer__bottom .footer__copy { float: left; width: 40%; position: static; clear: both; padding-top: 30px; } }
@media only screen and (max-width: 560px) { .footer__bottom .footer__copy { width: auto; float: none; clear: both; padding-top: 23px; text-align: center; margin-bottom: 29px; } }
.footer__bottom .footer__links { float: left; width: 12.5%; list-style: none; font-size: 18px; }
@media only screen and (max-width: 1280px) { .footer__bottom .footer__links { width: 14.89362%; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__links { width: 28.76712%; } }
@media only screen and (max-width: 700px) { .footer__bottom .footer__links { width: 26.66667%; } }
@media only screen and (max-width: 560px) { .footer__bottom .footer__links { width: 35.35714%; } }
.footer__bottom .footer__links a { line-height: 30px; color: #fff; text-decoration: none; }
.footer__bottom .footer__links a:hover { text-decoration: underline; }
.footer__bottom .footer__contacts { float: left; width: 25%; list-style: none; line-height: 18px; padding-top: 8px; color: #fff; font-size: 13px; position: relative; z-index: 20; }
@media only screen and (max-width: 1280px) { .footer__bottom .footer__contacts { width: 26.59574%; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__contacts { width: 31.50685%; } }
@media only screen and (max-width: 700px) { .footer__bottom .footer__contacts { width: 38.33333%; } }
@media only screen and (max-width: 560px) { .footer__bottom .footer__contacts { width: 64.28571%; } }
.footer__bottom .footer__contacts li { margin-bottom: 12px; }
.footer__bottom .footer__contacts span { font-family: "Times New Roman", serif; font-size: 15px; line-height: 18px; opacity: 0.4; font-style: italic; display: inline-block; width: 60px; }
.footer__bottom .footer__location { width: 23%; float: left; font-size: 13px; line-height: 15px; color: #fff; padding-top: 10px; position: relative; }
@media only screen and (max-width: 1280px) { .footer__bottom .footer__location { width: 23.82979%; float: right; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__location { width: 31.50685%; } }
@media only screen and (max-width: 700px) { .footer__bottom .footer__location { width: 160px; } }
@media only screen and (max-width: 560px) { .footer__bottom .footer__location { display: none; } }
.footer__bottom .footer__location:before { width: 14px; height: 21px; position: absolute; content: " "; left: -28px; top: 4px; z-index: 10; content: ""; font-size: 21px; }
.footer__bottom .footer__location:after { position: absolute; height: 99px; content: " "; width: 196px; background: url(../img/map.png) no-repeat 0 0; left: -134px; top: -10px; }
.footer__bottom .footer__location p { position: relative; z-index: 20; }
.footer__bottom .footer__socials { float: right; width: 160px; padding-top: 7px; }
@media only screen and (max-width: 1280px) { .footer__bottom .footer__socials { float: none; clear: both; } }
@media only screen and (max-width: 860px) { .footer__bottom .footer__socials { width: 31.50685%; float: right; clear: right; padding-top: 30px; } }
@media only screen and (max-width: 700px) { .footer__bottom .footer__socials { width: 160px; } }
@media only screen and (max-width: 560px) { .footer__bottom .footer__socials { width: auto; text-align: center; padding-top: 0; float: none; } }
.footer__bottom .footer__socials h3 { font-weight: normal; font-family: "Times New Roman", serif; font-style: italic; color: #fff; opacity: 0.4; font-size: 15px; line-height: 18px; margin-bottom: 16px; }
.footer__bottom .footer__socials a { font-size: 16px; text-decoration: none; color: #4d4d4d; margin-right: 14px; }
.footer__bottom .footer__socials a:last-child { margin-right: 0; }
.footer__bottom .footer__socials a:hover { color: #fff; }

.footer__in { max-width: 1260px; margin: 0 auto; position: relative; *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1340px) { .footer__in { margin: 0 auto; } }
@media only screen and (max-width: 1300px) { .footer__in { margin: 0 20px; } }
@media only screen and (max-width: 1280px) { .footer__in { max-width: 940px; margin: 0 auto; } }
@media only screen and (max-width: 980px) { .footer__in { margin: 0 20px; } }
@media only screen and (max-width: 768px) { .footer__in { margin: 0 20px; } }



/*# sourceMappingURL=screen.css.map */
