<!-- begin about  -->
<div class="about">
	<h2 class="about__sidetitle">About Me</h2>
	
	<div class="about__in">
		<div class="about__bg"></div>
		<div class="about__title">Interactive<br>Designer</div>
		<div class="about__col1">
			<p>My name is Serj Tiutyk. I’m Interactive designer. I design strategy is a discipline which helps firms determine what to make and do, why do it and how to innovate contextually, both immediately and over the long term. This process involves the interplay between design and business strategy. Design strategy is a discipline which helps firms determine what to make and do, why do it and how to innovate contextually, both immediately and over the long term. </p>
		</div>
		<div class="about__col2">
			<p>This process involves the interplay between design and business strategy. Design strategy is a discipline which helps firms determine what to make and do, why do it and how to innovate contextually. </p>
		</div>
		<div class="about__links">
			<a href='#' class="about__cv"><i class="icon icon-cv"></i><span>Download my CV</span></a>
			<a href='#' class="about__quote"><i class="icon icon-quote"></i><span>Download my CV</span></a>
		</div>
		
		<div class="about__bottombg"></div>
	</div>
</div>
<!-- end about -->