<!-- begin footer  -->
<div class="footer">
	<!-- footer__top -->
	<div class="footer__top">
		<!-- begin get  -->
		<div class="get get_footer">
			<div class="l-center">
				<div class="get__in">
					<p class="get__note">Need a high quality<br> web design or interface design?</p>
					<p class="get__note is-mobile">About Me & My Works</p>
					<i class="get__arr"></i>
					<ul class="get__list">
						<li><span>Phone</span> +38 (067) 966 0724</li>
						<li><span>Email</span> <a class="get__link" href="mailto: serj@tdesers.com">serj@tdesers.com</a></li>
						<li><span>Skype</span> <a class="get__link" href="skype:tdeser?chat">tdeser</a></li>
					</ul>
					<div class="get__quote">
						<p class="get__or">or</p>
						<a href="#" class="btn btn_quote">
							<span class="btn__top"></span>
							<span class="btn__left"></span>
							<span class="btn__right"></span>
							<span class="btn__bottom"></span>
							<i class="get-ico"></i>Get a quote
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- end get  -->
	</div>
	<!-- footer__top -->
	<!-- begin footer__bottom  -->
	<div class="footer__bottom">
		<div class="footer__in">
			<div class="footer__copyholder">
				
			</div>
			<ul class="footer__links">
				<li><a href="#">About</a></li>
				<li><a href="#">Works</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="footer__contacts">
				<li><span>Phone</span>+38 (067) 966 0724</li>
				<li><span>Email</span><a href="mailto:serj@tdesers.com">serj@tdesers.com</a></li>
				<li><span>Skype</span>tdeser</li>
			</ul>
			<div class="footer__location">
				<p>212, 29b<br>
				Marshala Timoshenko str.<br>
				Kiev, Ukraine</p>
			</div>
			<div class="footer__copy">
				© 2013 Serj Tiutyk, <br>Art Director/ Designer.<br>Interactive Design
			</div>
			<div class="footer__socials socials">
				<h3>Follow me</h3>
				<a href="#" class="socials__fb icon-fb"></a>
				<a href="#" class="socials__tw icon-tw"></a>
				<a href="#" class="socials__in icon-in"></a>
				<a href="#" class="socials__dr icon-dr"></a>
				<a href="#" class="socials__be icon-be"></a>
			</div>
		</div>
	</div>
	<!-- end footer__bottom -->
</div>
<!-- end footer -->