begin process  -->
<div class="process">
	<div class="process__in">
		<h2 class="process__title"><span>Work Process</span></h2>
		<div class="process__items">
			<div class="process__item">
				<div class="process__num">01</div>
				<div class="process__name">Research &<br>
				Design Strategy</div>
			</div>
			<div class="process__next"></div>
			<div class="process__item">
				<div class="process__num">02</div>
				<div class="process__name">Prototyping &<br>
		Concept</div>
			</div>
			<div class="process__next"></div>
			<br>
			<div class="process__item">
				<div class="process__num">03</div>
				<div class="process__name">Key Pages & <br>
		Interface Elements</div>
			</div>
			<div class="process__next"></div>
			<div class="process__item">
				<div class="process__num">04</div>
				<div class="process__name">Additional Design &<br>
		Graphic Design</div>
			</div>
			<div class="process__next"></div>
			<br>
			<div class="process__item is-last">
				<div class="process__num">05</div>
				<div class="process__name">Visual<br>
		Support </div>
			</div>
		</div>
		<!-- end items -->
	</div>
</div>
<!-- end process