<!-- begin reviews  -->
<div class="reviews">
	<h2 class="reviews__title">Reviews</h2>
	<div class="reviews__next"></div>
	<div class="reviews__prev"></div>
	<div class="reviews__in">
	<div class="reviews__wrap js-reviews" >
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Thank you all for your team Gollos efficiency in work to address any issue. I have two e-shop platform Gollos I can say that for me it is important </p>
			</div>
			<div class="review__author">Vitaliy Bykov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Design strategy is a discipline which helps firms determine what to make and do, why do it and how to innovate contextually, both immediately and over the long term. This process involves the interplay between design</p>
			</div>
			<div class="review__author">Dmitry
Kravstov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Thank you all for your team Gollos efficiency in work to address any issue. I have two e-shop platform Gollos I can say that for me it is important </p>
			</div>
			<div class="review__author">Vitaliy Bykov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Thank you all for your team Gollos efficiency in work to address any issue. I have two e-shop platform Gollos I can say that for me it is important </p>
			</div>
			<div class="review__author">Vitaliy Bykov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Thank you all for your team Gollos efficiency in work to address any issue. I have two e-shop platform Gollos I can say that for me it is important </p>
			</div>
			<div class="review__author">Vitaliy Bykov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
		<!-- begin review  -->
		<div class="review">
			<div class="review__photo" style="background-image: url(http://placehold.it/60x60)"></div>
			<div class="review__text">
				<p>Thank you all for your team Gollos efficiency in work to address any issue. I have two e-shop platform Gollos I can say that for me it is important </p>
			</div>
			<div class="review__author">Vitaliy Bykov</div>
			<div class="review__position">Marketing Director
			<strong>Redkeds Agency</strong></div>
		</div>
		<!-- end review -->
	</div>
	</div>
</div>
<!-- end reviews -->