<!-- begin what  -->
<div class="whatwedo">
	<div class="whatwedo__in">
		<!-- begin what  -->
		<div class="what">
			<div class="what__icon icon icon-research"></div>
			<h3 class="what__title">Reserch &<br>
	Consulting</h3>
			<p>Design strategy is a discipline which helps firms 
	determine what to make and do, why do it and how to 
	innovate contextually, both immediately and over the 
	long term. This process involves the interplay between 
	design and business strategy. </p>
		</div>
		<!-- end what -->
		<!-- begin what  -->
		<div class="what">
			<div class="what__icon icon icon-design"></div>
			<h3 class="what__title">Design websites &<br>
	Interfaces</h3>
			<p>This post presents the second part of our review: 
	12 useful techniques for good user interface design in 
	Web apps. We also discuss how to implement these 
	techniques so that they are properly used. Please feel 
	free to suggest further ideas, approaches and coding 
	solutions in the comments below.</p>
		</div>
		<!-- end what -->
		<!-- begin what  -->
		<div class="what">
			<div class="what__icon icon icon-art"></div>
			<h3 class="what__title">Art direction &<br>
	Visual support</h3>
			<p>Creating a beautiful and intuitivno friendly interface for 
	different mobile devices on iOS, Android and Windows 
	Phone. Creating a beautiful and intuitivno friendly interface 
	for different mobile devices on iOS, Android and 
	Windows Phone.</p>
		</div>
		<!-- end what -->
	</div>
</div>
<!-- end what -->