<!-- begin works  -->
<div class="works">
	<h2 class="works__title">Selected Works</h2>
	<a href="#" class="works__more"><span>View All Works</span> <i class="icon-grid"></i></a>

	<div class="works__wrap">
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/work.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/bank.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/work.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
		helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/bank.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
		helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/work.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
		<!-- begin work  -->
		<a href='#' class="work">
			<div class="work__flipper flip-container">
				<div class="work__image flipper">
					<div class="work__imagewrap work__front"><img src="img/bank.png" alt=""></div>
					<div class="work__back">
						<i class="icon-eye"></i>
						<p>Design strategy is a discipline which
helps firms determine what</p>
					</div>
				</div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</a>
		<!-- end work -->
	</div>
	<a href="#" class="works__viewmore">
		<span><b>View more</b> <i class="icon-arr-down"></i></span>
	</a>
</div>
<!-- end works -->