<!-- begin works  -->
<div class="works">
	<h2 class="works__title">Selected Works</h2>
	<a href="#" class="works__more"><span>View All Works</span> <i class="icon-grid"></i></a>

	<div class="works__wrap">
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/bank.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/bank.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
		<!-- begin work  -->
		<div class="work">
			<div class="work__image">
				<div class="work__imagewrap"><img src="img/work.png" alt=""></div>
			</div>
			<h3 class="work__title">The Club</h3>
			<p class="work__tags">Web Design, UI, UX, Interactive</p>
		</div>
		<!-- end work -->
	</div>
	<a href="#" class="works__viewmore">
		<span>View more <i class="icon-arr-down"></i></span>
	</a>
</div>
<!-- end works -->