<!-- begin archive  -->
<div class="archive">
	<h2 class="archive__title">Works Archive</h2>
	<div class="archive__tablewrap">
	<div class="archive__table">
		<table>
			<thead>
				<th><div></div>No</th>
				<th class="archive__worktitle"><div></div>Project Name</th>
				<th class="archive__workagency">Client</th>
				<th class="archive__type">Type</th>
				<th class="archive__date">Year<div></div></th>
			</thead>
			<tbody>
				<tr class="is-active">
					<td><div></div>1</td>
					<td class="archive__worktitle"><div></div><a href='#'>Datahaus. Austrian Hosting</a></td>
					<td class="archive__workagency">Red Keds Agency</td>
					<td class="archive__type">Web design, UI, UX</td>
					<td class="archive__date"><div></div>Feb 2015</td>
				</tr>
				<tr>
					<td><div></div>2</td>
					<td class="archive__worktitle"><div></div><a href='#'>Datahaus. Austrian HostingDatahaus. Austrian Hosting</a></td>
					<td class="archive__workagency">Red Keds Agency</td>
					<td class="archive__type">Web design, UI, UX</td>
					<td class="archive__date"><div></div>Feb 2015</td>
				</tr>
				<tr>
					<td><div></div>3</td>
					<td class="archive__worktitle"><div></div><a href='#'>Datahaus. Austrian Hosting</a></td>
					<td class="archive__workagency">Red Keds Agency</td>
					<td class="archive__type">Web design, UI, UX</td>
					<td class="archive__date"><div></div>Feb 2015</td>
				</tr>
				<tr>
					<td><div></div>4</td>
					<td class="archive__worktitle"><div></div><a href='#'>Datahaus. Austrian Hosting</a></td>
					<td class="archive__workagency">Red Keds Agency</td>
					<td class="archive__type">Web design, UI, UX</td>
					<td class="archive__date"><div></div>Feb 2015</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<a href='#' class="archive__more">
		View more <i class="icon-arr-down"></i>
	</a>
</div>
<!-- end archive -->